body {
    margin: 0;
    padding: 0;
    background-color: purple;
    font-family: "Comic Sans MS";
  }

  .topnav {
    background-color: darkviolet;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    width: 20%; 
    padding: 14px;
    text-decoration: none;
  }

  .logo {
    float: left;
    padding: 10px;
  }

  .topnav a:hover {
    background-color: violet;
  }

  .topnav .active {
    background-color: violet;
  }
  .content {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
  }

  .box {
    background-color: darkviolet; 
    padding: 20px;
    border-radius: 10px; 
    flex-basis: 30%; 
    box-sizing: border-box;
    color: white;
  }

